<md-card *ngIf="!scans">
  <md-spinner class="app-spinner"></md-spinner>
</md-card>

<md-card>
  <md-list dense class="scans">
    <md-list-item *ngFor="let scan of scans"
                  (click)="onScanSelect(scan)">
      <app-scan [scan]="scan" [class.selected]="scan === selectedScan"></app-scan>
    </md-list-item>
  </md-list>
</md-card>

<md-card *ngIf="selectedScan">
  <app-scan [scan]="selectedScan"></app-scan>
</md-card>

<md-card *ngIf="selectedScan">
  <app-product [product]="selectedScan.product"></app-product>
</md-card>
