<h1>
  {{title}}
</h1>
<h2>Scans</h2>
<ul class="scans">
  <li *ngFor="let scan of scans"
      (click)="onScanSelect(scan)">
    <app-scan [scan]="scan" [class.selected]="scan === selectedScan"></app-scan>
  </li>
</ul>
<app-product-details [product]="selectedScan.product"></app-product-details>
<br/>
<h2>Products</h2>
<ul class="products">
  <li *ngFor="let product of products"
      (click)="onProductSelect(product)">
    <app-product [product]="product" [class.selected]="product === selectedProduct"></app-product>
  </li>
</ul>
<app-product-details [product]="selectedProduct"></app-product-details>
